<div class="container-fluid justify-content-center">
  <div class="row">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="../../assets/sprites/sprites/sprites/pokemon/other-sprites/official-artwork/{{pokemonId}}.png"
           alt="{{pokemon.name}}">
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <a class="text-capitalize"> {{pokemon.name}}</a>
          <h6 class="d-inline">No. # {{pokemonId}}</h6>
        </h4>
      </div>
      <div class="card-block">
        <div class="card-text">
          <h6>Type</h6>
          <button type="button" class="btn text-capitalize bg-{{type.type.name}}" *ngFor="let type of pokemon.types">
            {{type.type.name}}
          </button>
        </div>
      </div>
      <div class="card-text">
      <pre>Evolves at {{this.evolution?.evolves_to[0].evolution_details[0].min_level}}</pre>
      <pre class="text-capitalize">Into {{this.evolution?.evolves_to[0].species.name}}</pre>
      <pre>Evolves again at {{this.evolution?.evolves_to[0].evolves_to[0].evolution_details[0].min_level}}</pre>
        <pre class="text-capitalize">Into {{this.evolution?.evolves_to[0].evolves_to[0].species.name}}</pre>

      </div>
    </div>
  </div>
</div>



