<div class="container-fluid justify-content-center">
  <div class="row">
    <div *ngFor="let pokemon of pokemons" class="col-4 mt-5">
      <pre>{{pokemon | json}}</pre>
      <div class="card border-dark">
        <div class="card-header bg-success">
          <h5 class="d-inline">
            <a class="text-white text-capitalize" [routerLink]="['/poke-view', pokemon.url.split('/')[pokemon.url.split('/').length - 2]]"> {{pokemon.name}}</a>
            <h6 class="d-inline text-white">No. {{pokemon.url.split('/')[pokemon.url.split('/').length - 2]}}</h6>
          </h5>
          <label class="custom-control custom-checkbox float-right d-inline p-0 pr-2">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"></span>
          </label>
        </div>
        <div class="card-body">
          <div class="row pt-2">
            <div class="col-3">
              <img
                src="../../../assets/sprites/sprites/sprites/pokemon/{{pokemon.url.split('/')[pokemon.url.split('/').length - 2]}}.png"
                class="align-content-around"
                height="100px"
                width="100px"/>
            </div>
            <div class=" col-9 d-inline pl-3px pt-2 text">
              <h6 class="d-inline">Type</h6>
              <p class="d-inline">listed types</p>
              <h6 class="d-inline">Evolution</h6>
              <p class="d-inline">Evolves at Level: .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
