<div class="card-group">
  <div class="col-1"></div>
  <div class="container card col-3 d-block p-1 pl-2 border-dark justify-content-center">
    <div class="card-header-grass p-1 pb-2">
      <h5 class="d-inline" *ngFor="let data of name">
        <a href="http://localhost:4200/poke-view" class="text-white"> {{}}</a>  <h6 class="d-inline">No. #</h6></h5>
      <label class="custom-control custom-checkbox float-right d-inline p-0 pr-2">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"></span>
      </label>
    </div>
    <div class="row pt-2">
      <div class="col-3">
        <img src="https://pldh.net/media/dreamworld/001.png" class="align-content-around" height="100px" width="100px"/>
      </div>
      <div class=" col-9 d-inline pl-3px pt-2 text">
        <h6 class="d-inline">Type</h6>
        <p class="d-inline">listed types</p>
        <br>
        <h6 class="d-inline">Evolution</h6>
        <p class="d-inline">Evolves at Level: .</p>
      </div>
    </div>
  </div>

  <div class="container card col-3 d-block p-1 pl-2 border-dark border-left-1">
    <div class="card-header-grass p-1 pb-2">
      <h5 class="d-inline"> <a href="http://localhost:4200/poke-view" class="pokemonLink text-white">Pokemon Name </a>  <h6 class="d-inline">No. #</h6></h5>
      <label class="custom-control custom-checkbox float-right d-inline p-0 pr-2">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"></span>
      </label>
    </div>
    <div class="row pt-2">
      <div class="col-3">
        <img src="https://pldh.net/media/dreamworld/001.png" class="align-content-around" height="100px" width="100px"/>
      </div>
      <div class=" col-9 d-inline pl-3px pt-2 text">
        <h6 class="d-inline">Type</h6>
        <p class="d-inline">listed types</p>
        <br>
        <h6 class="d-inline">Evolution</h6>
        <p class="d-inline">Evolves at Level: .</p>
      </div>
    </div>
  </div>

  <div class="container card col-3 d-block p-1 pl-2 border-dark justify-content-center">
    <div class="card-header-grass p-1 pb-2">
      <h5 class="d-inline">
        <a href="http://localhost:4200/poke-view" class="text-white">Pokemon Name </a>  <h6 class="d-inline">No. #</h6></h5>
      <label class="custom-control custom-checkbox float-right d-inline p-0 pr-2">
        <input type="checkbox" style="color-green" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"></span>
      </label>
    </div>
    <div class="row pt-2">
      <div class="col-3">
        <img src="https://pldh.net/media/dreamworld/001.png" class="align-content-around" height="100px" width="100px"/>
      </div>
      <div class=" col-9 d-inline pl-3px pt-2 text">
        <h6 class="d-inline">Type</h6>
        <p class="d-inline">listed types</p>
        <br>
        <h6 class="d-inline">Evolution</h6>
        <p class="d-inline">Evolves at Level: .</p>
      </div>
    </div>
  </div>
  <div class="col-1"></div>


</div>
